@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

:root {
  --gradient: linear-gradient(45deg, 
  #71ccb2, 
  #fff2ba,
  #ffb48a,
  #e76aa3,
  #873fe3
  );
}

@keyframes bg-animation {
  0% {
    background-position: left
  }
  50% {
    background-position: right
  }
  100% {
    background-position: left
  }
}

* {
  margin: 0;
  padding: 0;
}

body,html {
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header*/

header {
  font-family: 'Fredoka One', cursive;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.6;
  background-size: 400%;
  background-image: var(--gradient);
  animation: bg-animation 60s infinite alternate ;
}

section.welcome-text h1 {
  font-size: 6rem;
}

section.welcome-text p {
  font-size: 2rem;
}

/* Header*/
/* Nav */

nav {
  background-color: #2e3241;
  font-size: 1.8rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 10vh;
  width: 60%;
}

ul a {
  text-decoration: none;
  color: #fbf4ea;
  border-bottom: 2px transparent rgba(0,0,0,0.1);
}

ul a:hover {
  border-bottom: 2px solid #fbf4ea;
}
 /* Nav */

main, nav, footer {
   font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  grid-template-areas:
  "about-header about-header about-header about-header"
  " . about-image about-text . "
  "education-header education-header education-header education-header"
  ". education-text jensen . "
  "contact-header contact-header contact-header contact-header"
  " . github linkedin . "
  ;
 } 

.paragraf {
  line-height: 1.5rem;
  color: #2e3241;
}

.text-space {
  border-bottom: 2px solid rgba(0,0,0,.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

section.about-header {
  grid-area: about-header;
  background: url(./img/wavestop.svg) no-repeat;
  background-size: contain;
}

.section-header {
  border-bottom: 2px solid rgba(0,0,0,0.5);
}

section.about-image {
  grid-area: about-image;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  filter: drop-shadow(0px 5px 3px #000);
} 

section.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.flex h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3rem;
  color: #2e3241;
}

 /* About Text */

section.about-text {
  grid-area: about-text;
  flex-direction: column;
  font-size: 1rem;
 }
 
section.education-header {
  grid-area: education-header;
  margin-top: 5rem;
 }

section.education-text {
  grid-area: education-text;
  flex-direction: column;
  font-size: 1rem
}

 /* Jensen */

section.jensen {
  grid-area: jensen;
}

/* Jensen-Card */

.jensen-flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jensen-flip-card:hover {
  transform: rotateY(180deg);
}

.jensen-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.jensen-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2e3241;
}

  /* Button */

.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #2e3241;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 10px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

  /* Button */

.jensen-text {
  margin-bottom: 10px;
}

 /* Contact */

section.contact-header {
  grid-area: contact-header;
  margin-top: 10rem;
}

section.github {
  grid-area: github;
}

section.linkedin {
grid-area: linkedin;
  }

  /* Footer */

footer {
  background-color: #2e3241;
  color: #fbf4ea;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  /* Media querys */

  @media screen and (max-width: 1250px) {
  .grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px 1fr 1fr 100px 1fr 250px 100px 1fr;
    grid-template-areas:
    "about-header about-header about-header about-header"
    " . about-image about-image . "
    " . about-text about-text ."
    " education-header education-header education-header education-header "
    " . jensen jensen ."
    " . education-text education-text . "
    " contact-header  contact-header contact-header contact-header "
    " . github linkedin ."
    ;
  }
  .jensen-back {
    width: 120%;
  } 
  nav ul {
    width: 100%;
  }
  .paragraf {
    font-size: 14px;
  }
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 1250px) {
  section.linkedin img:hover {
    width: 15vh;
  }
  
  section.github img:hover {
    width: 15vh;
  }
}

   