@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

:root {
  --gradient: linear-gradient(45deg, 
  #71ccb2, 
  #fff2ba,
  #ffb48a,
  #e76aa3,
  #873fe3
  );
}

@keyframes bg-animation {
  0% {
    background-position: left
  }
  50% {
    background-position: right
  }
  100% {
    background-position: left
  }
}

* {
  margin: 0;
  padding: 0;
}

body,html {
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header*/

header {
  font-family: 'Fredoka One', cursive;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.6;
  background-size: 400%;
  background-image: var(--gradient);
  animation: bg-animation 60s infinite alternate ;
  color: #2e3241;
}

section.welcome-text h1 {
  font-size: 6rem;
}

section.welcome-text p {
  font-size: 2rem;
}

/* Nav */

nav {
  background-color: #2e3241;
  font-size: 1.8rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 10vh;
  width: 60%;
}

ul a {
  text-decoration: none;
  color: #fbf4ea;
  border-bottom: 2px transparent rgba(0,0,0,0.1);
}

ul a:hover {
  border-bottom: 2px solid #fbf4ea;
}

/* Typografi */

main, nav, footer {
  font-family: 'Roboto', sans-serif;
}

.paragraf {
  line-height: 1.5rem;
  color: #2e3241;
}

.text-space {
  border-bottom: 2px solid rgba(0,0,0,.5);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Grid-Container */

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(8,1fr);
  grid-template-areas:
  "about about about about"
  " . about-image about-text . "
  "education education education education"
  ". education-text jensen . "
  " experience experience experience experience "
  " . html css ."
  "contact contact contact contact"
  " . github linkedin . "
  ;
 } 

 /* Flex */

section.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.flex h1 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3rem;
  color: #2e3241;
}

/* About */

section.about-header {
  grid-area: about;
}

.section-header {
  border-bottom: 2px solid rgba(0,0,0,0.5);
}

section.about-image {
  grid-area: about-image;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  filter: drop-shadow(0px 5px 3px #000);
} 

section.about-text {
  grid-area: about-text;
  flex-direction: column;
  font-size: 1rem;
 }


/* Education */
 
section.education-header {
  grid-area: education;
  margin-top: 5rem;
 }

section.education-text {
  grid-area: education-text;
  flex-direction: column;
  font-size: 1rem
}

/* Education-Jensen */

section.jensen {
  grid-area: jensen;
}

.jensen-text {
  margin-bottom: 10px;
  padding: 0rem 1rem;
}

.jensen-flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jensen-flip-card:hover {
  transform: rotateY(180deg);
}

.jensen-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.jensen-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2e3241;
}

/* Education-Jensen-a/Button */

.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #2e3241;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 10px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* Experience */

section.experience-header {
  grid-area: experience;
}

section.html {
  grid-area: html;
}

section.css {
  grid-area: css;
}

/* Experience- Card */

.card-width {
  width: 350px;
  margin: 50px;
  border-radius: 42px;
  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.2);
  transition: .3s box-shadow, .3s margin-top ease-in-out;
  text-align: center;
}

.card-width:hover {
  box-shadow: 2px 12px 32px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  cursor: pointer;
}

.icon {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-base {
  display: flex;
  width: 260px;
  height: 50px;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: -25px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: #fbf4ea;
}

.content {
  padding: 15px 35px;
}

article.html-card {
  height: 500px;
  background-color: #FFE697;
}
    
.btn-html {
  background-color: #FF8A8A;
}

article.css-card {
  height: 500px;
  background-color: #B7E0FF;
}

.btn-css {
  background-color: #31A2FA;
}

/* Contact */

section.contact-header {
  grid-area: contact;
  margin-top: 10rem;
}

section.github {
  grid-area: github;
}

section.linkedin {
grid-area: linkedin;
}

/* Footer */

footer {
  background-color: #2e3241;
  color: #fbf4ea;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  /* Media querys */

@media screen and (max-width: 1250px) {
  .grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px 1fr 1fr 100px 1fr 250px 100px 1fr 1fr 100px 1fr;
    grid-template-areas:
    "about about about about"
    " . about-image about-image . "
    " . about-text about-text ."
    "education education education education"
    " . jensen jensen ."
    " . education-text education-text . "
    "experience experience experience experience"
    " html html html html "
    " css css css css "
    " contact  contact contact contact "
    " . github linkedin ."
    ;
  }
   html {
    font-size: 11px;
  }
   nav {
    font-size: 16px;
  }
  nav ul {
    width: 100%;
  }
  .paragraf {
    font-size: 14px;
  }
   .jensen-back {
    width: 120%;
  } 
  .card-width {
    margin: 0 auto;
    margin-top: 25px;
  }
  .card-width:hover {
    box-shadow: 2px 12px 32px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}
@media screen and (min-width: 1250px) {
  section.linkedin img:hover {
    width: 15vh;
  }
  section.github img:hover {
    width: 15vh;
  }
  section.about-header {
    background: url(./img/wavestop.svg) no-repeat;
    background-size: contain;
  }
}